.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

label{
  margin-top: 5px;
  margin-bottom: 0 !important
}
iframe{
  display: block;
  margin: 20px auto auto auto
}

img{
  max-width: 150px;
  max-height: 150px;
}

.img-flow{
  width: 150px;
  height: 150px;
  margin: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media print {
  body.negative {
    background-color: black !important;
    -webkit-print-color-adjust: exact;
  }
  iframe{
    margin: 20px;
  }
  button, input, img, label, select, h2, nav,div.img-flow {
    display: none !important;
  }
  div, div.d-flex, iframe, form{
    display: inline !important;
  }
}